/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilos para o cabeçalho da tabela */
thead {
    background-color: #f2f2f2;
}

/* Estilos para linhas alternadas na tabela */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para linhas quando o mouse passa por cima */
tbody tr:hover {
    background-color: #ddd;
}
